{% extends "base.jinja" %}

{% block title %}About{% endblock %}
{% block content %}

<p>
In the attack inference problem for weighted argumentation framework 
attacks have to be found for a given weighted argumentation framework
without attacks. Only the nodes, their weights and their desired final
acceptibility degrees are known at the beginning.
</p>

<p>
On this website a <a href="/model">GNN model</a> is available that can serve
as a heuristic for the attack inference problem. There you can upload
your own problem instances and let the model solve them. While the model is not
always able to find a solution, it can produce a result faster than a symbolic
solver could.
</p>

<p>
As an additional utility there is a <a href="/graph-viewer">graph viewer</a> where you can
view a visualisation of your abstract argumentation framework.
</p>


{% endblock %}