{% extends "base.jinja" %}

{% block title %}Create Problem Instance {% endblock %}

{% block content %}

<form method="POST" , action="/create-graph">
    {{ form.hidden_tag() }}
    {{ form.graph.label }} <br>
    {{ form.graph(class_="border rounded border-black h-40") }}
    <br>
    <input class="border rounded hover:text-white hover: border-blue-500 hover:bg-blue-500 px-2 cursor-pointer"
        type="submit" , value="Submit">
    <p><span class="font-bold">NB:</span> Please ensure that the weights are degrees are given as floats with precisely
        one floating point (".") e.g. 1.0 or 0.5. Furthermore, the names of arguments must be consecutive integers
        starting at 0. Additionally, each statement should be on a new line and ended with a return. </p>

</form>

{% endblock %}